{% extends "base.html" %}

{% block content %}

<h1>New Blog</h1>
<form method='post'>
    <table>
    <tr>
        <td>
            <label>Title:</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name='title' value='{{blog_title}}' />
        </td>
        <td>
        <span class='error'>{{title_error}}</span>
        </td>
    </tr>
    <br/>
    <tr>
        <td>
            <label>Write Blog Post Here:</label>
        </td>
    </tr>
    <tr>
        <td>
            <textarea rows='15' cols='40' name='blog'>{{blog_body}}</textarea>
        </td>
        <td>
            <span class='error'>{{body_error}}</span>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value='Add Blog' />
        </td>
    </tr>
    </table>
</form>


{% endblock %}